.coin__page {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
  }
  
  .coin__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2fffe5;
    border-radius: 10px;
    padding: 4rem;
    width: 400px;
  }
  
  .coin__image {
    margin-bottom: 1rem;
  }
  
  .coin__name {
    margin-bottom: 1rem;
  }
  
  .coin__ticker {
    margin-bottom: 1rem;
  }
  
  .coin__current {
    margin-bottom: 1rem;
    font-size: 2rem;
  }